<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ireadit{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div class="flex flex-col h-screen">
        {% block top_navigation %}
            {{ include('layout/top_navigation.html.twig') }}
        {% endblock %}

        <div class="grow">
            <div class="flex flex-row h-full">
                {% block sidebar %}
                    {{ include('layout/sidebar.html.twig') }}
                {% endblock %}
                
                <main class="grow">
                    {% block content %}
                    {% endblock %}
                </main>
            </div>
        </div>
        
        {% block footer %}
            {{ include('layout/footer.html.twig') }}
        {% endblock %}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
